Outjob-Outputs/
Outjob-Outputs/Status Report.Txt
Outjob-Outputs/BOM/DesignName-BoardRevision-BOM.xlsx
Outjob-Outputs/Documentation/PCB Print/DesignName-BoardRevision-PCB Print.PDF
Outjob-Outputs/Documentation/PDF3D/DesignName-BoardRevision-PDF3D.PDF
Outjob-Outputs/Documentation/Schematic Print/DesignName-BoardRevision-Schematic Print.PDF
Outjob-Outputs/Fabrication Files/Status Report.Txt
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.apr
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.EXTREP
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GBL
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GBO
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GBP
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GBS
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GM5
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GTL
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GTO
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GTP
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.GTS
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.REP
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber.RUL
Outjob-Outputs/Fabrication Files/Gerber/DesignName-BoardRevision-Gerber-macro.APR_LIB
Outjob-Outputs/Fabrication Files/NC Drill/DesignName-BoardRevision-NC Drill.DRR
Outjob-Outputs/Fabrication Files/NC Drill/DesignName-BoardRevision-NC Drill.LDP
Outjob-Outputs/Fabrication Files/Pick Place/DesignName-BoardRevision-Pick Place.txt
